---
import BaseLayoutComponent from '../layouts/BaseLayout.astro';
---

<BaseLayoutComponent title="Secrets" description="Secure secret sharing made simple">
  <h1 class="text-4xl font-bold text-black">Secrets</h1>
</BaseLayoutComponent>