---
import '../styles/global.css';
---

<div class="container">
  <div id="locked">
    <h1>Enter Password</h1>
    <input type="password" id="key" placeholder="Password" autocomplete="off" />
    <button id="decrypt">Decrypt</button>
    <p id="error">Incorrect password</p>
  </div>
  <pre id="content"></pre>
</div>